# ===== Firebase =====
NEXT_PUBLIC_FIREBASE_API_KEY=여기에입력
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=여기에입력.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=여기에입력
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=여기에입력.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=여기에입력
NEXT_PUBLIC_FIREBASE_APP_ID=여기에입력

# ===== Gemini API =====
GEMINI_API_KEY=여기에입력
